.tr-war {
  background-color:red;
}
.tr-trade {
  background-color:yellow;
}
.tr-guides {
  color: white;
  background-color:purple;
}
.tr-science {
  color :white;
  background-color:green;
}
.tr-building {
  color :white;
  background-color:blue;
}
.tr-wonders {
  background-color:orange;
}
.tr-black {
  background-color: black;
  color: white;
}

.scoreboard {
    display: inline-flex;
    margin-top:1em;
    background-color:white;
    padding: 0;
}
.col {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    * {
        flex: 1 1 auto;
    }
    &:last-of-type {
        border-right: none;
    }
    input {
         background: transparent;
         border: none;
         width: 2em;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .result {
        border-top: 2px solid black;
    }
}

.footer {
  position:fixed;
  bottom:0;
  z-index:-1;
}
