<form (submit)="addPlayer(newPlayerName)">
  <input mdInput type="text" #newPlayerName placeholder="Нов играч">
</form>
<div>
        <div class="scoreboard">
            <div class="col">
                <div>&nbsp;</div>
                <div *ngFor="let field of FIELDS" [ngClass]="'tr-' + field.name">
                    {{field.label}}
                </div>
                <div class="result">
                    Резултат
                </div>
            </div>

            <div *ngFor="let player of players" class="col">
                <div>{{player.name}}</div>
                <div *ngFor="let field of FIELDS; let idx = index" [ngClass]="'tr-' + field.name">
                    <input type="number" [(ngModel)]="player.scores[idx]" [ngClass]="'tr-' + field.name">
                </div>
                <div class="result">{{player.sum()}}</div>
            </div>
        </div>
</div>
